body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1 {
    display: flex;
    border: solid;
    justify-content: center;
}
.rule-set {
    display: flex;
    justify-content: center;
    border: solid;
    border-style: solid;
}
p {
    display: flex;
    justify-content: center;
}
ul {
    display: flex;
    justify-content: space-around;
}
.radio-buttons {
    display: flex;
    justify-content: space-around;
}
.my-button {
    display: flex;
    justify-content: center;
    padding: 40px;
}
.radio-image {
    width: 75px;
    border: 5p solid transparent;
    height: 100px;
}
input:checked + .radio-image {
    border: 5px solid aqua;
}
.results {
    display: flex;
    justify-content: space-around;
}
input {
    display: none;
}